Sales Analysis workbook by Paul Owe

This is a walkthrough of how I would use Pandas & Matplotlib to analyze and answer business questions about 12 months worth of sales data. The data contains hundreds of thousands of electronics store purchases broken down by month, product type, cost, purchase address, etc.

In [6]:
import pandas as pd
import os

# Task 1: Merging the 12 months of sales data into a single CSV file

In [4]:
df = pd.read_csv("./data/Sales_April_2019.csv") # data for April
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,2004-07-19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,2004-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,2004-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [10]:
# put all file objects in a list 

files = [file for file in os.listdir('./data')]

#concatenate all these files

all_months_data = pd.DataFrame() # empty df to hold your concatenated data

for file in files:
    df = pd.read_csv('./data/'+file)
    all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv('all_data.csv', index=False) # index false ignores that first column beside Orderid